.sub{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
input{
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 20px 0 15px 0;
    position: relative;
    left: 40px;
}
select{
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 20px 0 15px 0;
    position: relative;
    left: 30px;
}
.term{
    position: relative;
    left: 40px;
}
#phone{
    position: relative;
    left: -19px;
}
.put{
    position: relative;
    right: 60px;
}
.submit{
    position: relative;
    left: 100px;
}